@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akari&display=swap');

/* CSS untuk header 1 */
header {
    background-color: #bd3d3d;
    background-image: url(https://www.perpusnas.go.id/images/www/logo.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: left;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

/* CSS untuk latar belakang body */
body {
    background: linear-gradient(to bottom, #afc0d3, #bd3d3d); /* Gradient biru */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/premium-vector/seamless-pattern-with-paper-books-home-library-book-stacks-glasses-doodle-style_192280-133.jpg?w=2000);
    background-size: cover; 
    background-attachment: fixed;
}

 *{
    scroll-behavior: smooth;
  }

h1 {
    font-size: 36px;
    margin: 0;
    font-family: 'Times New Roman', Times, serif
}

/* CSS untuk gambar Perpustakaan Nasional Indonesia */
#library-image {
    display: block;
    margin: 0 auto;
    width: 750px;
    border: 3px solid #bd3d3d;
    border-radius: 10px;
}

/* CSS untuk outline */
.outline {
    outline-style: double;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
    text-align: justify;
}

outline h2 {
    font-size: 24px;
}

/* CSS untuk list */
.list {
    outline-style: double;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-family: 'Yuji Hentaigana Akari', cursive; /* Mengubah font */
}

list h2 {
    font-size: 24px;
}

ul {
    list-style: square;
}

ul li {
    margin: 10px 0;
}

li satu {
    cursor: help;
}

/* CSS untuk tautan dalam list */
ul li a {
    text-decoration: none;
    color: #bd3d3d;
    font-weight: bold; /* Teks lebih tebal */
}

ul li a:hover {
    text-decoration: underline;
}

/* CSS untuk profil Perpustakaan Nasional */
.profile {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4; /* Latar belakang*/
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.profile h2 {
    font-size: 24px;
}

/* CSS untuk kotak*/
.box-model {
    border: 2px solid #bd3d3d;      
    padding: 20px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

/* CSS untuk tabel (Informasi Lantai yang berada di Perpusnas) */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center; /* Menengahkan isi tabel */
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
    
}

table thead {
    background-color: #bd3d3d;
    color: #fff;
}

table th, table td {
    border: 1px solid #bd3d3d;
    padding: 8px;
}

/* CSS (Tata Cara Menjadi Anggota) */
.membership {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.membership h2 {
    font-size: 24px;
}

/* CSS (Tata Cara Meminjam Buku) */
.borrowing {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

.borrowing h2 {
    font-size: 24px;
}

/* CSS (Info Lantai-lantai yang ada di Perpusnas) */
.floors {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */   
}

floors h2 {
    font-size: 24px;
}

.footer {
    background-color: #bd3d3d;
    padding-bottom: 4%;
    text-align: center;
    color: white;
    padding: 3px;
    font-family: Arial, sans-serif; /* Mengubah font ke Arial */
}

/* CSS ICON*/
.Youtube {
    font-size: 30px;
    color: red;
    text-align: center;
    margin-right: 10px;
}